<article class="card">
    <section class="card__images">
        <img class="card__image" src="images/background/${image}"/>
        <img class="card__user" src="images/users/was.jpg" alt="washington" >
    </section>
    <section class="card__container-description">
        <a href="" class="card__button">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            Alterar
        </a>
        <h3 class="card__description">Washington Silva</h3>
        <p class="card__ru">RU: 12364555</p>
    </section>
</article>